# Vivado Temporary & Log Files
.Xil/
*.jou
*.log
*.pb
*.backup.*
*.backup.jou
*.backup.log

# Vivado Project Generated Data
MAC.cache/
MAC.hw/
MAC.ip_user_files/
MAC.sim/
xsim.dir/

# Temporary Scratch Scripts
scratch/
